/* Element selectors */
body {
    font-family: 'Arial', sans-serif;
}
/* header {
    position: relative
} */
#view-high-scores {
    height: 125px;
    width: 50%;
    overflow: hidden;
    float: left;
    /* text-align: left; */
}
#countdown {
    height: 50px;
    width: 50%;
    float: left;
    text-align: right;
}
#question {
    height: 150px;
    text-align: left;
    margin: 10px 250px 10px 350px;
    clear:both;
}
#mult-choice-answers {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 170px;
    margin: 10px 250px 10px 350px;
}
#choice-result {
    height: 50px;
    margin: 10px 250px 10px 350px;
    text-align: left;
    border-top: solid lightgray;
    color: lightgray;
}

/* .answer-button {
    width: "100px";
    height: "40px";
    font-size: "14px";
    color: "white";
    background-color: "purple";
} */

#delete-this-selector {
    color: rgb(248, 87, 240);
    color: rgb(173, 117, 173);
    color: lightgray;
    font-style: italic;
}
